<div class="main">
    <div class="under">
        <div class="text">
            <h1 class="tagline">Test your website today for free!</h1>
            <p class="underline">Test your website loading speed and responsivnes</p>
        </div>
        <%- include ('partials/messages') %>
        <form action="/" method="POST">
            <input type="text" name="url" class="url" placeholder="Enter url of website...">
            <input type="submit" name="submiturl" class="submiturl" value="Test">
        </form>
    </div>
</div>